@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin absoluteCenter($direction: "left") {
    position: absolute;
    @if $direction == "left" {
       left: 50%; 
       transform: translateX(-50%);
    }
    @if $direction == "top" {
        top: 50%; 
       transform: translateY(-50%);
    }
    @if $direction == "bot" {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}

@mixin bg($color: #f38181) {
    background-color: $color;
}

@mixin maxWidth($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}
@mixin minWidth($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}
@mixin hideScroll() {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}
@mixin textClamp($row: 1, $size: 100%) {
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: $size;
    max-width: $size;
    white-space: pre-wrap;
    word-break: break-all;
}