section.about 
	.container 
		+blockBox("What we do", "Story about us", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error quaerat aspernatur sunt dolores molestias amet nobis unde necessitatibus ratione?") 
		.about-list
			+aboutItem("images/img-about1.png", "Super team")
			+aboutItem("images/img-about2.png", "Super team")
			+aboutItem("images/img-about3.png", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus, adipisci.")
			