footer.footer 
    .container 
        .footer-top 
            .footer-column
                h3.footer-heading.footer-heading--logo MoGo
                p.footer-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                p.footer-follower <strong>15k</strong> followers
                .footer-social 
                    span follow us:
                    .footer-social-list 
                        i.fab.fa-facebook-f.footer-social-icon
                        i.fab.fa-twitter.footer-social-icon
                        i.fab.fa-instagram.footer-social-icon
                        i.fab.fa-pinterest.footer-social-icon
                        i.fab.fa-youtube.footer-social-icon
                        i.fab.fa-google-plus-g.footer-social-icon
                        i.fab.fa-dribbble.footer-social-icon
                        i.fab.fa-tumblr.footer-social-icon
                form.footer-form
                    input(type="email" placeholder="Your Email").footer-form-input
                    button.footer-form-button Subscribe
            .footer-column
                h3.footer-heading Blogs 
                .footer-blog
                    img.footer-blog-image(src="https://images.unsplash.com/photo-1649771482867-21eaffe6fcd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxN3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing
                        span.footer-blog-date Jan 9, 2016
                .footer-blog
                    img.footer-blog-image(src="https://images.unsplash.com/photo-1651330714811-d6aa381db787?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60", alt="")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing
                        span.footer-blog-date Jan 9, 2016
                .footer-blog
                    img.footer-blog-image(src="https://images.unsplash.com/photo-1651406957451-c24096f8aa0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0N3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing
                        span.footer-blog-date Jan 9, 2016
            .footer-column
                h3.footer-heading Instagram
                .footer-images 
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1651403719153-6dabe1e7b6d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1MHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1651264364386-51415f828b54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1MXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1651326058982-b69e54101907?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1Nnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1651265694189-3a26ec35dddb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw2NHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1534353436294-0dbd4bdac845?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw2M3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1599420186946-7b6fb4e297f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw3Mnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1651352651327-adc2c800bc60?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4Mnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1651331247530-819b1fbac069?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4OHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", alt="")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1649771379621-d7ca1c6945b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMDV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60", alt="")
        .footer-bottom &copy; 2016 MoGo free PSD template by <span>Laaqiq</span>