section.people 
    .container 
        +blockBox("Happy Clients", "What people say")
        .people-list 
            .people-item 
                img(src="https://images.unsplash.com/photo-1648737966614-55e58b5e3caf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80").people-images
                .people-content 
                    h3.people-name Matthew Dix 
                    span.people-position Graphic Design 
                    p.people-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est harum perferendis dignissimos veniam. Quis assumenda dignissimos doloremque necessitatibus nihil veritatis.
            .people-item 
                img(src="https://images.unsplash.com/photo-1651290407136-8e8d3523b201?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5OHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60").people-images
                .people-content 
                    h3.people-name Matthew Dix 
                    span.people-position Graphic Design 
                    p.people-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
            .people-item 
                img(src="../images/img-people2.png").people-images
                .people-content 
                    h3.people-name Matthew Dix 
                    span.people-position Graphic Design 
                    p.people-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
            .people-item 
                img(src="../images/img-people3.png").people-images
                .people-content 
                    h3.people-name Matthew Dix 
                    span.people-position Graphic Design 
                    p.people-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
