section.team 
    .container 
        +blockBox("Who we are", "meet our team", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ")
        .team-list 
            .team-item 
                .team-item-container 
                    img(src="./images/img-team1.png").team-item-image
                    .team-content 
                        ul.team-social 
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-facebook-f 
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-twitter 
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-pinterest-p
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-instagram
                .team-info 
                    h3.team-name Matthew Dix
                    span.team-position Graphic Design
            .team-item 
                .team-item-container 
                    img(src="./images/img-team2.png").team-item-image
                    .team-content 
                        ul.team-social 
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-facebook-f 
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-twitter 
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-pinterest-p
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-instagram
                .team-info 
                    h3.team-name Christopher Campbell
                    span.team-position Branding/UX design
            .team-item 
                .team-item-container 
                    img(src="https://images.unsplash.com/photo-1651188297082-e75061ec270d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80").team-item-image
                    .team-content 
                        ul.team-social 
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-facebook-f 
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-twitter 
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-pinterest-p
                            li.team-social-item 
                                a.team-social-link(href="#")
                                    i.fab.fa-instagram
                .team-info 
                    h3.team-name Michael Fertig 
                    span.team-position Developer
section.brand 
    .container 
     img(src="../images/img-logos.png")
