section.wedo 
    .container 
        +blockBox("Service", "what we do", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ")
        .wedo-container 
            img(src="../images/img-wedo.png").wedo-image
            .wedo-content 
                .wedo-item.is-active
                    .wedo-item-header
                        img(src="../images/img-wedo-icon1.png").wedo-item-icon
                        h3.wedo-item-title Photography 
                        i.fal.fa-angle-up.wedo-item-arrow
                    .wedo-item-content
                        .wedo-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolores quia. Incidunt non error debitis necessitatibus maiores atque modi recusandae! Porro ex inventore dolorem ratione labore temporibus cupiditate officiis doloribus. Quidem modi iusto repudiandae exercitationem maiores dolorem beatae laborum aspernatur inventore adipisci tempora molestiae consequuntur deserunt quam accusamus, incidunt fugiat.molestiae consequuntur deserunt quam accusamus, incidunt fugiat.molestiae consequuntur deserunt quam accusamus, incidunt fugiat.molestiae consequuntur deserunt quam accusamus, incidunt fugiat.
                
                .wedo-item
                    .wedo-item-header
                        img(src="../images/img-wedo-icon2.png").wedo-item-icon
                        h3.wedo-item-title creativity 
                        i.fal.fa-angle-down.wedo-item-arrow
                    .wedo-item-content
                        .wedo-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolores quia. Incidunt non error debitis necessitatibus maiores atque modi recusandae! Porro ex inventore dolorem ratione labore temporibus cupiditate officiis doloribus. Quidem modi iusto repudiandae exercitationem maiores dolorem beatae laborum aspernatur inventore adipisci tempora molestiae consequuntur deserunt quam accusamus, incidunt fugiat.molestiae consequuntur deserunt quam accusamus, incidunt fugiat.molestiae consequuntur deserunt quam accusamus, incidunt fugiat.molestiae consequuntur deserunt quam accusamus, incidunt fugiat.
                
                .wedo-item
                    .wedo-item-header
                        img(src="../images/img-wedo-icon3.png").wedo-item-icon
                        h3.wedo-item-title web design 
                        i.fal.fa-angle-down.wedo-item-arrow
                    .wedo-item-content
                        .wedo-item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolores quia. Incidunt non error debitis necessitatibus maiores atque modi recusandae! Porro ex inventore dolorem ratione labore temporibus cupiditate officiis doloribus. Quidem modi iusto repudiandae exercitationem maiores dolorem beatae laborum aspernatur inventore adipisci tempora molestiae consequuntur deserunt quam accusamus, incidunt fugiat.molestiae consequuntur deserunt quam accusamus, incidunt fugiat.molestiae consequuntur deserunt quam accusamus, incidunt fugiat.molestiae consequuntur deserunt quam accusamus, incidunt fugiat.
                